body {
    background-color: rgb(53, 157, 189);
}

.container {
max-width: 350px;
}

.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.col {
    background-color: aquamarine;
    color: rgb(218, 16, 16);
}

.card-header {
    background-color: rgb(33, 177, 28);
    color: crimson;
}

.card-footer {
    background-color: rgb(218, 214, 19);
    color: rgb(202, 18, 28);
}

p {
    color: rgb(55, 14, 168);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}